<a href="#1">1. This is a heading</a>
<a href="#2">2. Second heading</a>
<h2><a name="1">1. This is a heading</a></h2>
First paragraphThis paragraph has an equation [tex]x^2[/tex]. Hope it gets integrated.

<p>Can I transform an array?

<p>These are squares:

[tex]y^2 \quad eq. 1 [/tex]

[tex]z^2[/tex]

[tex]q(t,x,y,z)=\left(
\begin{array}{cccc}
t & -x & -y & -z \\
x & t & -z & y \\
y & z & t & -x \\
z & -y & x & t
\end{array} )[/tex]

<p>

<p>We will have to seeI cat transform an array from non-text.

[tex]\begin{array}{cccc}
t & -x & -y & -z \\
x & t & -z & y \\
y & z & t & -x \\
z & -y & x & t
\end{array}  \quad eq. 2 [/tex]

<p>We will have to see


<h2><a name="2">2. Second heading</a></h2>
this has <em>italics} and \text{<b>b\&#246;ld</em></b>